{% extends "base.html" %}

{% block content %}
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <form method="POST" action="{{ url_for('translate') }}">
    <label for="text">Enter text to translate:</label><br>
    <textarea name="text" id="text" rows="5" cols="50"></textarea><br>
    <input type="submit" value="Translate" style="margin-top: 5px;">
  </form>
  <br>
  {% if message == "You can't translate just numbers" %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
  {% else %}
    <br>
    <div>
      <p>Original text:</p>
      <p style="white-space: pre-line;">{{ original_text }}</p>
    </div>
    <div>
      <p>Translated text:</p>
      <p style="white-space: pre-line;">{{ translated_text }}</p>
    </div>
  {% endif %}
{% endblock %}
